node_modules
dist/old/debug.log
dist/old/edit.css
dist/old/edit.js
dist/old/index.html
dist/old/main.css
dist/old/main.js
dist/old/main.js.LICENSE.txt
dist/old/map.css
dist/old/map.html
dist/old/map.js
dist/old/test.html
dist/edit.css
dist/edit.js
dist/edit.js.LICENSE.txt
dist/index.html
dist/map.css
dist/map.html
dist/map.js
dist/map.js.LICENSE.txt
dist/images/layers-2x.png
dist/images/layers.png
dist/images/marker-icon.png
dist/map copy.html
jsdoc
*.7z
dist/*
