/* @import '../../../treecomponent/src/css/tree.scss'; */


.treecontainer {
    font-size: 1.2rem;
    width: calc(100% - 10px);
}

.row-wrapper {
    background-color: white;
    color:black;
}
.row-wrapper:hover, .row-wrapper:focus {
    background-color: #287da8;
    color:white;
}
.treerow {
    background-image: none;
}

.treerow .treelabel {
    /* display: inline; */
    /* padding-right: 0.4em; */
    min-width: 453px;
}

.treelabel svg, .treelabel img {
    float: right;
}

.treerow .closed::after {
    position: relative;
    line-height: 1em;
    font-size: .9em;
    content: '\e603';
    font-family: icons_regportal;
    width: 1em;
}
.treerow .opened::after {
    position: relative;
    line-height: 1em;
    font-size: .9em;
    content: '\e604';
    font-family: icons_regportal;
    width: 1em;
}
.treeicon input[type=checkbox] + label::before {
    margin-left: 0.18em;
}
.legend-item {
    width: 20px;
    height: 20px;
}


.treeicon>img {
    margin: (2rem/16);
    height: 2rem;
    width: 2rem;
}