/* main_test.scss */
@import "mixin";

@import "../../node_modules/leaflet/dist/leaflet.css";

@import "../../node_modules/@glartek/leaflet.markercluster/dist/MarkerCluster.css";
@import "../../node_modules/@glartek/leaflet.markercluster/dist/MarkerCluster.Default.css";

@import "./fontawesome.css";

@import "./mapctrl.css";
/* @import './layerctrl.scss'; */

@import "./attribution.css";

@import "./baselayerctrl";
@import "./searchctrl.css";

@import "accordion";

@import "./commonctrls.css";

$sidebar-width-large: 25rem;
$sidebar-width-small: (255rem/16);
$header-heigth-large: (102rem/16);
$header-heigth-small: 45rem/16;
$icon-width-large: 40rem/16;
$icon-width-small: 32rem/16;

$red: red;

// $sidebar-padding-left-large: 30rem/16;
$sidebar-padding-left-large: 0.9rem;
$sidebar-padding-right-large: 20rem/16;
$sidebar-padding-bottom-large: 20rem/16;

$sidebar-padding-left-small: 21rem/16;
$sidebar-padding-right-small: 15rem/16;
$sidebar-padding-bottom-small: 15rem/16;

$sidebar-bottom-height: 2rem;

html,
body {
    height: 100%;
    width: 100%;
    margin: 0px !important;
    padding: 0px;
    font-family: macho, sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}
body {
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.flex-no-shrink {
    flex-shrink: 0;
}

/** Widget **/
.viewctrl-nav {
    border-right: none;
    border-left: none;
    align-items: center;
    font-size: 1.8rem;
}

.viewctrl-nav > span:first-child {
    padding-left: $sidebar-padding-left-large;
}

.viewctrl-nav .close,
.close-button {
    font-size: 1.2rem;
    width: 1em;
    height: 1em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
.viewctrl-nav .close::after,
.close-button::after,
.close-button2::after {
    content: "";
    z-index: 100;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><ellipse cx='10' cy='10' rx='9' ry='9' fill='%23005e90'/><path d='m6 6 8 8' fill='%230ff' stroke='%23fff' stroke-width='3.4' stroke-linecap='round'/><path d='m14 6 -8 8' fill='%23fff' stroke='%23fff' stroke-width='3.4' stroke-linecap='round'/></svg>");
    background-size: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
/*
.viewctrl-nav .close::after,
.close-button::after,
.close-button3::after {
    background: #005e90 0% 0% no-repeat padding-box;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 1em;
    height: 1em;
    opacity: 1;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 1em;
    border-radius: 1em;
    font-size: 1em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: none;
    content: "\f00d";
    cursor: pointer;
    z-index: 100;
}
*/

/*
.close-button {
    background: #005E90 0% 0% no-repeat padding-box;
    position: absolute;
    right: (54rem/16);
    top: (23rem/16);
    width: 2rem;
    height: 2rem;    
    opacity: 1;
    color: white;
    text-align: center;
    vertical-align: middle;    
    line-height: 1.8rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 0.1rem 0rem 0rem 0rem;
    border: none; 
}
*/

.viewctrl .close-button {
    right: 1.1875rem;
    top: 0.9375rem;
}

/** home-overlay **/
/*
.close-button3::after {
    content: "\f00d";
    content: "";
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20'><ellipse cx='10' cy='10' rx='9' ry='9' fill='%23005e90'/><path d='m6 6 8 8' fill='%230ff' stroke='%23fff' stroke-width='3.4' stroke-linecap='round'/><path d='m14 6 -8 8' fill='%23fff' stroke='%23fff' stroke-width='3.4' stroke-linecap='round'/></svg>");
    background-size: 100%;
    text-align: center;
    font-size: 1em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border: none;
    cursor: pointer;
    z-index: 100;
 
    width: 1em;
    height: 1em;
    display: block;
    line-height: 1em;
}
*/

.home-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1999;
    background-color: rgba(10, 10, 10, 0.5);
}
.home,
.datenschutz,
.impressum {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-height: 90%;
    width: 80%;
    max-width: 60rem;
    & .close-button::after {
        position: fixed;
        right: 1.1875rem;
        top: 0.9375rem;
    }
    & h1 {
        color: #005e90;
        font-size: 2rem;
        font-size: clamp(1.2rem, 3.2vw, 3rem);
        @include Macho-SemiBold();
    }
}

.datenschutz,
.impressum {
    & .close-button2 {
        font-size: 1.5rem;
        position: absolute;
        right: (29rem/16);
        top: (29rem/16);
        z-index: 999;
        height: 1em;
        width: 1em;
    }
    & .home-content {
        padding-top: (29rem/16);
    }
}

.home-overlay button {
    cursor: pointer;
}

.home-top {
    padding-left: (36rem/16);
    padding-top: (29rem/16);
    padding-right: (29rem/16);
    display: flex;
    justify-content: space-between;

    & .close-button2 {
        font-size: 1.5rem;
        position: relative;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
    }
}
.home-content {
    position: relative;
    background-color: white;
    padding-left: (36rem/16);
    padding-right: (63rem/16);
    padding-bottom: (20rem/16);
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 4;
    & .content-text {
        overflow: auto;
    }
    & h2 {
        color: #005e90;
        font-size: 1.3rem;
        @include Macho-SemiBold();
    }
    & h3 {
        color: #005e90;
        font-size: 1.2rem;
        @include Macho-SemiBold();
    }
    & p {
        color: #000;
        font-size: 1rem;
    }
    & p:last-child {
        margin-block-end: 0.1rem;
    }
}
.home-link {
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: flex-start;
    flex-shrink: 1;
    flex-grow: 0;
    padding-top: 0.5rem;
    padding-left: (36rem/16);
    padding-bottom: (46rem/16);
    & button {
        background-color: #005e90;
        border-radius: (4rem/16);
        color: #fff;
        outline: none;
        border: none;
        padding: (10rem/16);
        @include Macho-Bold();
    }
}

/** **/
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* font-family: Landesdesign-MV,myriad-pro,'Myriad Pro',Arial,sans-serif;*/
    /* font-family: macho, sans-serif; */
}

.top {
    position: absolute;
    max-width: calc(100% - 5.6rem);
    width: $sidebar-width-large;
    width: $sidebar-width-large;
    height: $header-heigth-large;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.9rem;
    @include Macho-SemiBold();
    padding-right: 1.1875rem;
    display: flex;
    align-items: center;
    z-index: 999;
    background-color: white;
    justify-content: space-between;
    transition: all 500ms;
}

.top img {
    height: (59.65rem/16);
    aspect-ratio: 113/60;
}

.top span {
    color: #287da8;
    font-size: 2rem;
    margin-left: 0px;
    font-weight: bold;
}

#content {
    width: 100%;
    height: 100%;
    position: relative;
}
#map {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 5.6rem);
    width: $sidebar-width-large;
    background-color: white;
    top: $header-heigth-large;
    left: 0px;
    z-index: 400;
    max-height: calc(100% - $header-heigth-large - $sidebar-bottom-height - 1px);
}
.sidebar-collapsed .sidebar {
    /* left: -$sidebar-width-large;*/
    transform: translate(-100%, 0px);
}
.sidebar,
.sidebar-switch,
.legendctrl-legend {
    transition: all 500ms;
}
.sidebar-switch {
    position: absolute;
    top: $header-heigth-large;
    /*left: $sidebar-width-large;*/
    left: min(25rem, 100% - 5.6rem);
    width: (25rem/16);
    height: 6.5rem;
    /*background-color: rgb(0,94,144);*/
    background-color: #0ca0d9;
    color: white;
    z-index: 400;
    border-top-right-radius: (3rem/16);
    border-bottom-right-radius: (3rem/16);
}
.sidebar-switch::after {
    content: "\f053";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.2rem;
    line-height: (50rem/16);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    line-height: 1;
}
.sidebar-collapsed .sidebar-switch::after {
    content: "\f054";
}
.sidebar-collapsed .sidebar-switch {
    left: 0px;
}
/*
.sidebar-row1 {
    height: 87px;
    flex-grow: 0;
    padding: 0.8rem;
}
.sidebar-row2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 6.5rem;
    padding: 0.8rem;
    flex-grow: 0;
    background-color: #005e90;

}
.sidebar-row3 {
    flex-grow: 1;
    background-color: white;
}
*/
.mapctrl {
    height: 6.5rem;
    padding: 1rem 1rem 1rem 0rem;
    background-color: #005e90;
    display: none;
}
.mapctrl_content {
    background-color: transparent;
    flex-grow: 1;
    overflow: auto;
    display: flex;
}
.sidebar-mapctrl {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 100%;
    overflow: hidden;
}
.sidebar-bottom {
    /* flex-grow: 0; */
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: $sidebar-bottom-height;
    max-width: calc(100% - 5.6rem);
    width: $sidebar-width-large;
    background-color: #005e90;
    text-align: center;
    color: white;
    padding: 0.5rem;
    z-index: 999;
    font-size: 1rem;
    line-height: 1rem;
}

/** layer-baum **/

/* xxxx
.energieatlas .accordion-item > div:first-child span:first-child {
  width: ($sidebar-width-large - 0.9rem - 1.25rem - 1rem);
} */

.row-wrapper {
    display: flex;
    flex-direction: column;
}

.row-wrapper-0 > .treerow {
    margin-top: (4rem/16);
    line-height: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}
.row-wrapper-1 > .treerow {
    line-height: 1.8rem;
    font-size: 1rem;
    overflow: hidden;
}

.treelabel {
    padding-left: (3rem/16);
    padding-right: (2rem/16);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*
.row-wrapper-0 > .treerow > .treelabel {
  width: ($sidebar-width-large - 0.9rem - 1.25rem - 2rem - 1rem);
  flex-grow: 0;
}
.row-wrapper-1 > .treerow > .treelabel {
  width: ($sidebar-width-large - 0.9rem - 6rem);
}
.row-wrapper-2 > .treerow > .treelabel {
  width: ($sidebar-width-large - 0.9rem - 6rem);
}

.row-wrapper-1 > .nodecontainer {
  margin-left: 1rem !important;
}
*/

.treerow > img {
    width: 2rem;
    height: 2rem;
}
.row-wrapper-1 > .treerow > img {
    width: 1.5rem;
}

.treecontainer {
    background-color: white !important;
    display: flex;
    flex-direction: column;
}

.treerow {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.zoom8 .row-wrapper.z8disabled,
.zoom9 .row-wrapper.z9disabled,
.zoom10 .row-wrapper.z10disabled,
.zoom11 .row-wrapper.z11disabled,
.zoom12 .row-wrapper.z12disabled,
.zoom13 .row-wrapper.z13disabled,
.zoom14 .row-wrapper.z14disabled,
.zoom15 .row-wrapper.z15disabled,
.zoom16 .row-wrapper.z16disabled,
.zoom17 .row-wrapper.z17disabled,
.zoom18 .row-wrapper.z18disabled {
    color: #a8a7a7;

    & .cb_layer label {
        background-color: #d5d5d5;
    }
}

// .zoom8 .treerow.z8disabled .layer-title {
//     color: gray;
// }

.treerow input[type="checkbox"] {
    width: 1rem;
    margin: (3rem/16) (3rem/16) (3rem/16) (4rem/16);
    flex-shrink: 0;
}

.nodecontainer {
    display: none;
    margin-left: 2rem;
}
.row-wrapper-1 > .nodecontainer {
    margin-left: 1rem;
}
.opened > .nodecontainer {
    display: flex;
    flex-direction: column;
}
.treeicon {
    flex-shrink: 0;
    flex-grow: 0;
    line-height: 1rem;
    display: flex;
}

.row-wrapper:first-child .up {
    color: lightgray;
    pointer-events: none;
}
.row-wrapper:last-child .down {
    color: lightgray;
    pointer-events: none;
}

.change-layer-order {
    .up,
    .down {
        line-height: 0.75rem;
    }
    .up:hover,
    .down:hover {
        background-color: #0ca0d9;
        color: #fff;
    }
    .up:after,
    .down:after {
        position: relative;
        line-height: 0.75rem;
        font-size: 0.75rem;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-style: normal;
        display: inline-block;
        width: 1.25rem;
        text-align: center;
    }
    & .up:after {
        content: "\f077";
    }
    & .down:after {
        content: "\f078";
    }
}
/*
.accordion .treerow {
  
    width: calc(100% - (36rem/16) - (15rem/16));
    display:flex;
    padding-left: 0px;
}

.accordion .row-wrapper, .row-wrapper-0 {
    width: calc(100% - 1rem);
}

.row-wrapper-0 {
    width: calc(352rem/16) !important;
}
*/
.layer-title {
    background-color: white;
    display: inline-block !important;
    /* width: ($sidebar-width-large - 0.9rem - 2rem - 1rem - 0.25rem - 0.1875rem - 1.25rem - 1rem);*/
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    white-space: nowrap;
    /* height: 1.3rem;
    line-height: 1rem;*/
    flex-grow: 1;
    position: relative;
}

.row-wrapper-2 > .treerow > .layer-title {
    /* xxxx 
  width: (
    $sidebar-width-large - 0.9rem - 2rem - 2rem - 0.25rem - 0.1875rem - 1.25rem -
      1rem
  );
  */
    flex-shrink: 1;
    flex-grow: 1;
}

.info-icon1 {
    background-color: white;
    border: #000 thin solid;
    border-radius: (3rem/16);
    width: 1rem;
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
}

.rotate {
    animation: spin 300ms infinite;
}

.info-icon {
    background-color: white;
    width: 1.25rem;
    font-family: "Font Awesome 5 Free";
    display: inline-block !important;
    text-align: center;
    color: #aaa;
    font-size: 1rem;
    cursor: pointer;
    flex-shrink: 0;
}
.info-icon::after {
    content: "\f05a";
}

.waiting.info-icon {
    animation: spin 300ms infinite;
}
.waiting.info-icon::after {
    content: "\f021";
}

.error.info-icon::after {
    color: red;
    content: "\f071";
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.accordion .row-wrapper:hover {
    background-color: white;
    color: black;
}
.accordion .treerow .opened::after,
.accordion .treerow .closed::after {
    position: relative;
    line-height: 1rem;
    font-size: 0.9rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    width: 1.25rem;
    text-align: center;
}
.accordion .treerow .opened::after {
    content: "\f077";
}
.accordion .treerow .closed::after {
    content: "\f078";
}

.treerow .treelabel {
    min-width: 0px;

    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.clear-icon::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    content: "\f00d";
    color: #afafaf;
}
.angels-up {
    width: (25rem/16);
    text-align: center;
    background-color: #0c9fd9;
    color: #fff;
    padding-top: 0.5rem;
    line-height: 2.5rem;
    cursor: pointer;
}
.angels-up::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    line-height: 1;
    content: "\f102";
    font-size: 1.2rem;
}

.ctrl-icon,
.leaflet-bar a.leaflet-control-zoom-in,
.leaflet-bar a.leaflet-control-zoom-out {
    width: $icon-width-large;
    height: $icon-width-large;
    border: none;
    font-size: 2rem;
    line-height: 1;
    /* display: block;*/
    border-radius: (3rem/16);
}

.energieatlas .viewctrl-content {
    border: none !important;
    padding-left: $sidebar-padding-left-large;
    padding-right: $sidebar-padding-right-large;
    padding-bottom: $sidebar-padding-bottom-large;
}

/* layer info */
.layerinfo > div {
    text-align: right;
}
.layerinfo button {
    background-color: #005e90;
    color: #fff;
    border-radius: 0.25rem;
    color: #fff;
    outline: none;
    border: none;
    padding: 0.625rem;
    font-family: macho, sans-serif;
    font-style: normal;
    cursor: pointer;
}
.layerinfo-title,
.datainfo-title {
    color: #005e90;
    display: block;
    font-size: 1.125rem;
    font-weight: 900;
    margin: 44px 0px 10px 0px;
}
.layerinfo-error {
    font-weight: bold;
    display: block;
    color: $red;
    line-height: 1;
    margin-bottom: 1rem;
}

.layerinfo-subtitle {
    font-weight: bold;
    display: block;
}
.layerinfo-text {
    display: block;
    margin-bottom: 1.375rem;
    font-size: 0.875rem;
    line-height: 1.3125rem;
}
.layerinfo-row,
.datainfo-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-bottom: 0.4em;
    line-height: 1.2;
    font-size: 0.875rem;
}
.layerinfo-row-head,
.datainfo-row-head {
    font-weight: bold;
    display: inline-block;
    min-width: 11rem;
    flex-shrink: 0;
}
.layerinfo-row-content,
.datainfo-row-content {
    display: inline-block;
    padding-left: 0.5rem;
}

.leaflet-right .leaflet-control {
    margin-right: 0.5rem;
}
.leaflet-top .leaflet-control {
    margin-top: 0.5rem;
}

.leaflet-container {
    font-family: macho, sans-serif;
}

@media only screen and (max-width: 599px) {
    .top {
        height: $header-heigth-small;
        & img {
            height: $header-heigth-small - (10rem/16);
        }
        & span {
            font-size: 1.5rem;
        }
    }
    .sidebar {
        top: $header-heigth-small;
        max-height: calc(100% - $header-heigth-small - 2rem);
    }

    .sidebar-switch {
        top: $header-heigth-small;
    }

    .energieatlas .viewctrl-content {
        padding-left: $sidebar-padding-left-small;
        padding-right: $sidebar-padding-left-small;
    }

    .leaflet-top.leaflet-right {
        flex-direction: column;
    }
    .ctrl-icon,
    .leaflet-bar a.leaflet-control-zoom-in,
    .leaflet-bar a.leaflet-control-zoom-out {
        width: $icon-width-small;
        height: $icon-width-small;
        line-height: 1;
        font-size: 2rem;
    }
    .ctrl-fontsize.leaflet-control {
        flex-direction: column;
        gap: 0.3rem;
    }
    .accordion-item > div:first-child {
        font-size: 1.2rem;
    }
    .row-wrapper-0 > .treerow {
        font-size: 1.1rem;
    }
    /*
  .row-wrapper-0 > .treerow > .treelabel {
    width: 10.85rem;
  } 
  */
    .row-wrapper-2 > .treerow > .layer-title {
        /* xxxx */
        /* width: 8.4125rem; */
        flex-shrink: 2;
    }

    .layerinfo-row,
    .datainfo-row {
        flex-direction: column;
    }

    .baselayerctrl-iconcontainer {
        position: absolute;
        bottom: -100px;
    }

    .baselayerctrl-bttn {
        transition: none;
    }

    .open .baselayerctrl-iconcontainer {
        position: absolute;
        right: -0.55rem;
        bottom: -10px;
        justify-content: flex-end;
        width: 20rem;
        align-content: flex-end;
        flex-wrap: wrap;
        background-color: #f5f5f580;
        padding: 0.5rem;
        gap: 0.2rem;
    }

    .baselayerctrl-open-bttn {
        width: $icon-width-small;
        height: $icon-width-small;
        background-color: #005e90;
        background-image: url("./icons/Allgemein/Karte.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%, 65%;
        cursor: pointer;
    }
}

/*
@media only screen and (max-height: 400px) {
  html {
    font-size: 15px;
  }
  .top {
    height: 3rem;
    & img {
      height: 2rem;
    }
    width: 40%;
  }
  .sidebar {    
    top: 3rem;
    max-height: calc(100% - 5rem);
    background-color: chartreuse;
    max-width: 40%;
  }
  .sidebar-bottom {
    width: 40%;
  }
  .sidebar-switch {
    left: 40%;
    top: 3rem;
  }

  .home h1, .datenschutz h1, .impressum h1 {
    margin-top: 0.1rem;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
  }
  .home-top {
    padding-left: 1.25rem;
    padding-top: 0.8125rem;
    padding-right: 0.8125rem;   
  }
  .home-content {
    position: relative;
    background-color: white;
    padding-left: 1.25rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.25rem;
  }
  .home-link {
    padding-bottom: 0.5rem;
    padding-left: 1.25rem;
  }
}
*/

/* @media only screen and (max-width: 650px) and (orientation: portrait) {*/
@media only screen and (max-height: 650px), only screen and (max-width: 500px) {
    .home,
    .impressum,
    .datenschutz {
        padding: 10px;
        padding-right: 0px;
        width: 92%;
        & .home-top {
            padding-left: 0rem;
            padding-top: 0rem;
            padding-right: 0rem;
            justify-content: space-between;
            & h1 {
                font-size: 1.2rem;
                font-size: clamp(1.2rem, 3vw, 3rem);
                padding: 0px;
                margin-block-start: 0.5rem;
                line-height: 1;
            }
        }
    }
    .datenschutz .home-content,
    .impressum .home-content,
		.faq .home-content {
        padding-top: 0rem;
        padding-right: 0.5rem;
    }
    .datenschutz .close-button2,
    .impressum .close-button2,
		.faq .close-button2 {
        right: 0.5rem;
        top: 0.5rem;
    }
    .home-content {
        padding-left: 0rem;
        padding-top: 0rem;
        padding-right: 0rem;
        & p:first-child {
            margin-top: 0px;
        }
    }
    .home-link {
        padding-left: 0rem;
        padding-top: 0.5rem;
        padding-right: 0rem;
        padding-bottom: 0rem;
    }
    .home-top .close-button2 {
        margin-right: 10px;
    }
    .home-content > * {
        padding-right: 1rem;
    }
}

#bttn_impressum,
#bttn_datenschutz,
#bttn_faq {
    cursor: pointer;
}

.mapicon {
    border: black thin solid;
    padding: 2px;
    border-radius: 100%;
}

@keyframes pulse {
    0% {
        background-color: yellow;
        width: 0px;
    }
    100% {
        background-color: yellow;
        width: 100%;
    }
}

/* search */
.control-search {
    position: relative;

    .search-button {
        position: relative;
        top: 0px;
        right: 0px;
        margin-top: 0.5rem;
        transition: all 500ms;
    }
    .search {
        position: absolute;
        right: 0px;
        width: 300px;
        top: -3rem;
        transition: all 500ms;

        .search-animation {
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: 0.25rem;
            width: 100%;
            background-color: yellow;
            display: none;
        }
    }
    .search.searching {
        .search-animation {
            display: unset;
            animation: pulse 500ms infinite;
        }
    }

    &.opened .search-button {
        top: -3rem;
    }
    &.opened .search {
        top: 0rem;
    }
}

@import "./legendctrl";

.leaflet-control-scale-line {
    background-color: #fff;
    font-family: macho, sans-serif;
    font-size: 1rem;
}
/*
.opacity-slider {
    height: 0;
    position: relative;
   
    transition: all 200ms;
    overflow: hidden;
    margin: 0 2rem 0 24px;

    -webkit-appearance: none;
    background: #000;
    outline: none;
    border: 5px solid lawngreen;
    border-radius: 8px;
}
.opacity-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 60px;
    background: #000;
    cursor: pointer;
    border: 5px solid lawngreen;
    border-radius: 4px;
}  */

.row-wrapper:hover > .opacity-slider {
    border: thin solid gray;
    height: 1rem;
    box-sizing: content-box;
}

.opacity-slider,
xinput[type="range"] {
    height: 0;
    margin: 0 2rem 0 24px;
    overflow: hidden;
    -webkit-appearance: none;
    background-image: linear-gradient(90grad, #ffffff80, #fff), url("./images/transparancy.svg");
    transition: all 200ms;
}
.opacity-slider::-moz-range-thumb,
x[type="range"]::-moz-range-thumb {
    background-color: #0075ff;
    /* border: 0em solid #0075ff; */
    border-radius: 100%;
    height: 16px;
    width: 1rem;
    border-color: #0075ff;
}

.icon-highlighted {
    border: 3px solid black;
    border-radius: 50%;
}
.marker-cluster-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}
.marker-cluster-icon div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: #ffffff91;
}
.marker-cluster span {
    line-height: 30px;
    font-weight: 900;
    /* background-color: white;*/
}

/* LAYER CHECKBOX */
/* SQUARED FOUR */
.cb_layer {
    width: 20px;
    margin: 0 0.2rem 0rem 0rem;
    position: relative;
}

.cb_layer label {
    cursor: pointer;
    position: absolute;
    width: 1.25rem;
    height: calc(100% - 6px);
    margin: 1px 0;
    top: 0;
    border-radius: 4px;
    border: #a8a7a7 solid thin;
    background-color: #fff;
    top: calc(50% - 0.675rem);
    display: block;

    /*
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    background: #fcfff4;

    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfff4', endColorstr='#b3bead', GradientType=0);
    */
}

.cb_layer label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: "";
    position: absolute;
    width: (12rem/16);
    height: (7rem/16);
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/*
.cb_layer label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}
*/

.cb_layer input[type="checkbox"]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.row-wrapper svg {
    margin: 0rem 2rem 0 1.5rem;
    width: calc(100% - 3.5rem);
    height: 0;
    transition: all 500ms;
}

.row-wrapper:hover > svg {
    margin: 1.2rem 2rem 0 1.5rem;
    height: 5.3rem;
    max-height: calc(38vw - 5.6rem);
}

.z8disabled path.p01,
.z9disabled path.p02,
.z10disabled path.p03,
.z11disabled path.p04,
.z12disabled path.p05,
.z13disabled path.p06,
.z14disabled path.p07,
.z15disabled path.p08,
.z16disabled path.p09,
.z17disabled path.p10,
.z18disabled path.p11 {
    fill: white;
}
.zoom8 path.z01,
.zoom9 path.z02,
.zoom10 path.z03,
.zoom11 path.z04,
.zoom12 path.z05,
.zoom13 path.z06,
.zoom14 path.z07,
.zoom15 path.z08,
.zoom16 path.z09,
.zoom17 path.z10,
.zoom18 path.z11 {
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: black;
    z-index: 1;
    visibility: visible;
    fill: none;
}
.zoom8 text.p01,
.zoom9 text.p02,
.zoom10 text.p03,
.zoom11 text.p04,
.zoom12 text.p05,
.zoom13 text.p06,
.zoom14 text.p07,
.zoom15 text.p08,
.zoom16 text.p09 {
    font-size: 1rem;
}
