@import '../../node_modules/leaflet/dist/leaflet.css';

@import '../../node_modules/@glartek/leaflet.markercluster/dist/MarkerCluster.css';
@import '../../node_modules/@glartek/leaflet.markercluster/dist/MarkerCluster.Default.css';

@import './fontawesome.css';
@import './mapctrl.css';
@import './layerctrl.scss';




html, body {
    height: 100%;
	width:100%;
    margin: 0px !important;
    padding: 0px;
    font-family: sans-serif;
    font-size: 12px;
   
	box-sizing: border-box;

    /*color: #287da8;*/
}

/*
.leaflet-bar a, .leaflet-bar a:hover {
    color: #287da8;
}
*/



*, *:before, *:after {
	box-sizing: inherit;
}

.flex-no-shrink {
    flex-shrink: 0;
}


.themen {
    display: block;
	padding-left:0px;
    padding-right:0px;
    
}

.layerdescr {
    background-color: white;
    padding-left:50px;
	padding-right:50px; 
}

.layeratts {
    padding-left: 80px;
}

.layeratts > label {
    padding-top: 5px;
    padding-bottom: 5px;
}
.layeratts > textarea {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-bottom: 12px;
}

.themen h2 {
    margin-left: 10px;
	padding: 10px;
    padding-top: 10px;
	padding-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;	
    
}
.themen > h2 {
    background-color: #d9fadd;
}

textarea {
    white-space: pre-wrap;
}

textarea.input_error {
    border: 1px red solid;
}

.bttn_fixed {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.bttn_fixed > button:first-child {
    margin-bottom: 20px;
}

.bttn_fixed > button {
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.bttn_fixed > button:hover {
	background:linear-gradient(to bottom, #287da8 5%, #7892c2 100%);
	background-color:#287da8;
    
}
.bttn_fixed > button:active {
	position:relative;
	top:1px;
}


.msg {
	font-size: 24px; font-weight:700; color:gray;
}

.themen.collapse>div, .layerdescr.collapse>div {
    display: none;
}

.themen:first-child, .themen.collapse:first-child {    
    display: block !important;
}

.layeratts textarea, .layeratts label {
    width: 100%;
    display: block;
}


/* Close Button */
.back, .close {
    background-color: #287da8;
    text-align: center;
    vertical-align: middle;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 1;
    opacity: 1.0;
    color: white !important;
    padding: 2px;
    display: inline-block;
    margin: 2px;
    width: 1em;
    height: 1em;
    font-size: 1em;
    border: 2px solid #afafaf;
	box-sizing: content-box;
}
.close:hover, .back:hover {
  opacity: 1;
  background-color: #287da8;
}
.back:after {
	content: "\f100";
}
.close::after {
	content: "\f00d";
}

.leaflet-container {
	font: 12px/1.5 Landesdesign-MV,myriad-pro,'Myriad Pro',Arial,sans-serif;
}
