@font-face {
    font-family: Landesdesign-MV;
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'),
        url(../fonts/pt-sans/jizaRExUiTo99u79D0KExQ.woff2) format('woff2'),
        url(../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.ttf) format('truetype'),
        url(../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-regular.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: Landesdesign-MV;
    font-style: italic;
    font-weight: 400;
    src: local('PT Sans Italic'), local('PTSans-Italic'),
        url(../fonts/pt-sans/jizYRExUiTo99u79D0e0x8mI.woff2) format('woff2'),
        url(../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-italic.ttf),
        format('truetype'), url(../fonts/pt-sans/pt-sans-v11-latin_cyrillic_latin-ext_cyrillic-ext-italic.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    font-display: swap;
}

@font-face {
    font-family: icons_regportal;
    src: url(../images/fonts/icons_regportal.eot) format('embedded-opentype'),
        url(../images/fonts/icons_regportal.woff?-88br5p) format('woff'),
        url(../images/fonts/icons_regportal.ttf?-88br5p) format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


.leaflet-bar a:hover {
    background-color: #287da8;
    color: white;
}

/*
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
*/
.leaflet-bar {
    border-radius: 0px;
}

.leaflet-top.leaflet-left {
    max-height: calc(100% - 10px);
    width: 533px;
    display: flex;
    flex-direction: column;
}


.mapctrl {
    width: calc(100% - 0px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-shrink: 0;
    /* background-color: beige; */
}

.mapctrl-top {
    display: flex;
}

.menu-button {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    transition: all 80ms;
    background-color: #287da8;
    padding: 4px;
    margin: auto;
    border: 2px solid rgb(175, 175, 175);
    width: calc(2.7rem + 4px);
    height: calc(2.7rem + 4px);
}

.menu-button:hover {
    background-color: #287da8;
    color: white;
    cursor: pointer;
}

.closed>.menu-button>div {
    height: 3px;
    top: calc(50% - 3px);
    width: 100%;
    position: relative;
    left: 0px;
    background-color: white;
}

.closed>.menu-button>div:before, .closed>.menu-button>div:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
}

.closed>.menu-button>div:before {
    top: -8px;
}

.closed>.menu-button>div:after {
    top: 8px;
}

.opened>.menu-button>div {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.opened>.menu-button>div::before {
    content: '';
    position: absolute;
    display: block;
    left: 41%;
    top: 45%;
    width: 40%;
    height: 10%;
    background-color: white;
    transform: translateX(0px) translateY(0px) rotate(40deg);
}

.opened>.menu-button>div::after {
    content: '';
    position: absolute;
    /* bottom: 0; */
    display: block;
    left: 19%;
    top: 45%;
    width: 40%;
    height: 10%;
    background-color: white;
    transform: translateX(0) translateY(0px) rotate(-40deg);
}

.mapctrl-top>.search-wrapper {
    vertical-align: middle;
    margin-left: 5px;
    height: calc(2.7rem + 4px);
    border: 2px solid #afafaf;
    flex-grow: 1;
}


.search-button {
    background-color: white;
    border: 2px solid #afafaf;
    font-size: 2rem;
    padding-top: 0.2rem;
    padding-right: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.4rem;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.search-button i::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-style: normal;
    line-height: 2.5rem;
    content: "\f002";
    color: #fff;
    font-size: 1.4rem;
}

/* autocomplete */

.autocomplete {
    background: white;
    z-index: 9999;
    font: 14px/22px "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid rgba(50, 50, 50, 0.6);
}

.autocomplete * {
    font: inherit;
}

.autocomplete label {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 1px;
    display: inline-block;
}

.autocomplete textarea {
    width: 100%;
    border: none;
    resize: none;
}

.autocomplete>div {
    padding: 0 4px;
}

.autocomplete .group {
    background: #eee;
}

.autocomplete>div:not(.group) {
    background-color: white;
}

.autocomplete>div:hover:not(.group),
.autocomplete>div.selected {
    background: #c7e5ff;
    cursor: pointer;
}



.viewctrl {
    min-width: calc(100% - 0px);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 20px);
    overflow: auto;
    background-color: white;
}


.viewctrl-nav {
    display: flex;
    flex-direction: row;
    border-bottom: none;
    flex-shrink: 0;
    border-left: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    border-top: 2px solid #afafaf;
    align-items: center;
    font-size: 1.3rem;
}

.viewctrl-nav>span:first-child {
    flex-grow: 1;
    font-weight: bold;
    padding-left: 3px;
}

.viewctrl-nav-back {
    position: absolute;
    transform: translate(10px, 10px);
}

.viewctrl-content {
    border-left: 2px solid #afafaf;
    border-right: 2px solid #afafaf;
    border-bottom: 2px solid #afafaf;
    overflow: hidden;
    display: flex;
}

.viewctrl-content>* {
    overflow: auto;
    width: 100%;
    hyphens: auto;
    overflow-wrap: break-word;
    /* margin-right: 2px;*/
}

.viewctrl-content:empty {
    border: none;
}


.marker-cluster {
    color: black;
}

/*
.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
    background-color: #b8b8bf;
}
*/

.marker-cluster-small, .marker-cluster-medium, .marker-cluster-large {
    background-color: gray;
}

.marker-cluster-small div, .marker-cluster-medium div, .marker-cluster-large div {
    background-color: white;
}


.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.leaflet-control-zoom a {
    display: flex;
    line-height: 1;
    background-color: #005E90;
    border: 2px solid #afafaf;
    color: white;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}