.csstooltip {
    display: none !important;
    position: absolute;
    background: #ffe;
    border: 1px solid #eed;
    border-radius: 4px;
    padding: 2px 4px;
    color:teal;
}
:hover + .csstooltip {
    display: block !important;
    position: absolute;
}